@import "tailwindcss";

/* This tells Tailwind to apply dark: classes when the .dark class is present */
@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
}

:root {
  --background: var(--color-neutral-100);
  --foreground: var(--color-neutral-900);
  --secondary: var(--color-neutral-700);
  --tertiary: var(--color-neutral-500);
}

.dark {
  --background: #050505;
  --foreground: var(--color-neutral-100);
  --secondary: var(--color-neutral-300);
  --tertiary: var(--color-neutral-500);
}

body {
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}
